# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment Variables
.env

# IDEs
.idea/
.vscode/
*.swp
.DS_Store

# Project Specific
uploads/
backend/file_metadata.json
data/
db/

# LlamaIndex/Vector Store
storage/
